Assignment2/Client/SpaceShooter.VC.db
Assignment2/Client/bin/SpaceShooter.log
Assignment2/Client/bin/SpaceShooter_d.exe
Assignment2/Client/bin/SpaceShooter_d.ilk
Assignment2/Client/bin/SpaceShooter_d.pdb
Assignment2/Client/Intermediate/Debug
Assignment2/Server/Intermediate/Debug
Assignment2/Server/Server.VC.db
Assignment2/Client/SpaceShooter.VC.VC.opendb
Assignment2/Server/Server.VC.VC.opendb
